[run]
source = src
omit =
    */screens/*
    */visualization/*
    */adapters/mongodb.py
    */__pycache__/*
    */tests/*

[report]
fail_under = 90
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
